@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.advertisement-text-container {
  display: flex;
  height: 100%;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
}

.advertisement-text {
  font-size: 58px;
  font-family: 'Dancing Script', cursive;
  color: #eeeeee;
}
