.category-card-container {
  height: 200px;
  width: 150px;
  background-color: #f7f9fa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
  cursor: pointer;
  padding: 5px;
}

.category-card-container:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 1.5rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.3rem 0.5rem -0.5rem rgba(22, 28, 45, 0.05) !important;
}

.card-image {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 62px;
  width: 62px;
  margin-bottom: 30px;
}

.top-categories-header {
  font-size: 32px;
  text-align: center;
}

.top-categories {
  max-width: 1000px;
  margin: 30px auto;
}
