body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #2d3748;
  background-color: #f1f2f3;
}

* {
  margin: 0;
  padding: 0;
}

/* Search */

.searchResultContainer {
  max-height: calc(100vh - 120px);
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  right: 0;
  left: 0;
  top: 34px;
  overflow-y: auto;
  border-top-width: 0;
  border-width: 2px;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 5px solid rgb(237 242 247);
  border-radius: 0px 0px 0.5rem 0.5rem;
  border-color: rgb(237 242 247);
}

.d-block {
  display: block;
}

.position-absolute {
  position: absolute;
}

.m-0 {
  margin: 0;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.searchResultTitle {
  font-weight: 700;
}

.searchedElement {
  cursor: pointer;
  border-radius: 0.5rem;
}
.searchedElement:hover {
  background: #edf2f7;
}

.searchedElementSubText {
  font-size: 0.75rem;
  letter-spacing: 0;
  opacity: 0.8;
}

.searchResultContainer ul li:last-child {
  border: 1px solid #80808017;
  margin: 10px auto;
}

.featured-products {
  margin-bottom: 100px;
}
.slick-next::before {
  color: #2d3748 !important;
}

.slick-prev::before {
  color: #2d3748 !important;
}

.similar-products {
  max-width: 85vw;
}

.slide-item {
  display: flex !important;
  justify-content: center;
  padding: 20px 0;
}

.lightGreen {
  color: rgb(0, 160, 8);
}

.bold {
  font-weight: 700;
}
