.login-header-container {
  display: flex;
  justify-content: center;
}
.login-header {
  background-repeat: no-repeat;
  background-size: contain;
  width: 139px;
  height: 55px;
  margin-bottom: 5px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.google-btn {
  display: flex;
  padding: 5px;
}
